<div class="products">
    <h2>Products</h2>
    <button onclick="navigate2New()" class="btn btn-dark">Add Product</button>
    <button onclick="navigate2Home()" class="btn btn-dark">Home</button>
    <hr>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">PS5</h5>
            <p class="card-text">
                The PS5 (or PlayStation 5) is the next-generation PlayStation, 
                with a release date planned for late 2020...
            </p>
            
        <button onclick="navigate2Edit()" class="btn btn-dark">PS5 Edit</button>
        <button onclick="navigate2Detail()" class="btn btn-dark">PS5 Detail</button>
        </div>
    </div>
</div>